# Reading Files into a Dataframe

* Once your data is in a Pandas `DataFrame` you can easily use a ton of analytical tools
* You just have to get your data to fit into a dataframe
* Getting data to fit is a big part of the "data janitor" work...it is the craft of data carpentry
* However, as we will see, there is still a lot of carpentry work to do once your data fits into a `DataFrame`

In [3]:
# load pandas
import pandas as pd

### Open the file and load it into memory

* Pandas provides some very handy functions for reading in CSV files.

In [4]:
# look at a CSV files using the unix command head
!head community-center-attendance.csv

_id,date,center_name,attendance_count
1,2018-06-08,Ormsby Community Center,10
2,2018-06-08,Paulson Community Center,19
3,2018-06-08,Phillips Community Center,107
4,2018-06-08,Ammon Community Center,81
5,2018-06-08,Brookline Community Center,33
6,2018-06-08,Jefferson Community Center,29
7,2018-06-08,Warrington Community Center,15
8,2018-06-08,West Penn Community Center,54
9,2018-06-07,Phillips Community Center,77

* This is how we open a CSV file with pure Python

In [5]:
# Load up the CSV module
import csv

# open a file hander
file_handler = open('community-center-attendance.csv')
# Load the file into the CSV module
reader = csv.reader(file_handler)

# read the headers first
headers = next(reader)

# Read all the data into a variable as a list. look ma! one line!
center_attendance_python = [row for row in reader]

# close the file handler for good hygiene 
file_handler.close()

# print headesr
print(headers)

# display the first five rows 
center_attendance_python[0:5]

['_id', 'date', 'center_name', 'attendance_count']

[['1', '2018-06-08', 'Ormsby Community Center', '10'],
 ['2', '2018-06-08', 'Paulson Community Center', '19'],
 ['3', '2018-06-08', 'Phillips Community Center', '107'],
 ['4', '2018-06-08', 'Ammon Community Center', '81'],
 ['5', '2018-06-08', 'Brookline Community Center', '33']]

* We could load these into a dataframe using the dataframe syntax we just learned

In [7]:
center_attendence_pandas = pd.DataFrame(center_attendance_python, columns=headers)
center_attendence_pandas

         _id        date                  center_name attendance_count
0          1  2018-06-08      Ormsby Community Center               10
1          2  2018-06-08     Paulson Community Center               19
2          3  2018-06-08    Phillips Community Center              107
3          4  2018-06-08       Ammon Community Center               81
4          5  2018-06-08   Brookline Community Center               33
5          6  2018-06-08   Jefferson Community Center               29
6          7  2018-06-08  Warrington Community Center               15
7          8  2018-06-08   West Penn Community Center               54
8          9  2018-06-07    Phillips Community Center               77
9         10  2018-06-07     Paulson Community Center               25
10        11  2018-06-07      Ormsby Community Center               17
11        12  2018-06-07       Ammon Community Center              133
12        13  2018-06-07   Jefferson Community Center               65
13        14  2018-06-07   Brookline Community Center               54
14        15  2018-06-07   West Penn Community Center               30
15        16  2018-06-07  Warrington Community Center               26
16        17  2018-06-06      Ormsby Community Center               18
17        18  2018-06-06     Paulson Community Center               14
18        19  2018-06-06    Phillips Community Center              122
19        20  2018-06-06       Ammon Community Center              125
20        21  2018-06-06   Brookline Community Center               49
21        22  2018-06-06   Jefferson Community Center                4
22        23  2018-06-06  Warrington Community Center               20
23        24  2018-06-06   West Penn Community Center               47
24        25  2018-06-05    Phillips Community Center              136
25        26  2018-06-05     Paulson Community Center               19
26        27  2018-06-05      Ormsby Community Center               25
27        28  2018-06-05       Ammon Community Center              122
28        29  2018-06-05   Jefferson Community Center                9
29        30  2018-06-05   Brookline Community Center               48
...      ...         ...                          ...              ...
18337  18338  2011-03-13      Ormsby Community Center               19
18338  18339  2011-03-12    Phillips Community Center                6
18339  18340  2011-03-12       Ammon Community Center                1
18340  18341  2011-03-12   Brookline Community Center                7
18341  18342  2011-03-12      Ormsby Community Center               11
18342  18343  2011-03-12       Magee Community Center               17
18343  18344  2011-03-11    Phillips Community Center               12
18344  18345  2011-03-11     Paulson Community Center                5
18345  18346  2011-03-11   Brookline Community Center               77
18346  18347  2011-03-11       Ammon Community Center               19
18347  18348  2011-03-11       Magee Community Center               38
18348  18349  2011-03-11   Jefferson Community Center               12
18349  18350  2011-03-11      Ormsby Community Center               38
18350  18351  2011-03-10    Phillips Community Center               32
18351  18352  2011-03-10  Warrington Community Center                2
18352  18353  2011-03-10       Ammon Community Center                1
18353  18354  2011-03-10   Brookline Community Center               54
18354  18355  2011-03-10      Ormsby Community Center                5
18355  18356  2011-03-10   Jefferson Community Center               23
18356  18357  2011-03-10       Magee Community Center               60
18357  18358  2011-03-10   West Penn Community Center                1
18358  18359  2011-03-09    Phillips Community Center               13
18359  18360  2011-03-09   Brookline Community Center               60
18360  18361  2011-03-09       Magee Community Center               37
18361  18362  2011-03-08   Brookline Community Center               22
18362  18363  2011-03-08       Magee Community Center               32
18363  18364  2011-03-08   West Penn Community Center                3
18364  18365  2011-03-07  Warrington Community Center                1
18365  18366  2011-03-07       Magee Community Center                7
18366  18367  2011-03-07   West Penn Community Center                2

[18367 rows x 4 columns]

* Pandas can do this much easier using the `read_csv()` function

In [42]:
# Open up the csv file directly with pandas 
center_attendance_pandas = pd.read_csv("community-center-attendance.csv", 
                                       index_col="_id") # use the column named _id as the row index
# Display the first five rows
center_attendance_pandas.iloc[0:5]

           date                 center_name  attendance_count
_id
1    2018-06-08     Ormsby Community Center                10
2    2018-06-08    Paulson Community Center                19
3    2018-06-08   Phillips Community Center               107
4    2018-06-08      Ammon Community Center                81
5    2018-06-08  Brookline Community Center                33

* Notice that Pandas figured out there is a header row and it create a row index from one of the columns
* Pandas also has a special function, `head(n)` for looking at the first *n* rows in a dataframe

In [43]:
# Use the head function to look at the "head" 
# of the dataframe. Default is 5 rows.
center_attendance_pandas.head()

           date                 center_name  attendance_count
_id
1    2018-06-08     Ormsby Community Center                10
2    2018-06-08    Paulson Community Center                19
3    2018-06-08   Phillips Community Center               107
4    2018-06-08      Ammon Community Center                81
5    2018-06-08  Brookline Community Center                33

In [44]:
# Use the head function to look at the "head" 
# of the dataframe. Default is 5 rows.
center_attendance_pandas.head(10)

           date                  center_name  attendance_count
_id
1    2018-06-08      Ormsby Community Center                10
2    2018-06-08     Paulson Community Center                19
3    2018-06-08    Phillips Community Center               107
4    2018-06-08       Ammon Community Center                81
5    2018-06-08   Brookline Community Center                33
6    2018-06-08   Jefferson Community Center                29
7    2018-06-08  Warrington Community Center                15
8    2018-06-08   West Penn Community Center                54
9    2018-06-07    Phillips Community Center                77
10   2018-06-07     Paulson Community Center                25

* Notice the index starts at 1 instead of zero, that is because we told Pandas to use the "_id" column as the row index.
* This is when it is important to understand the difference between `loc` and `iloc`

In [45]:
# Select row by index name
center_attendance_pandas.loc[1]

date                             2018-06-08
center_name         Ormsby Community Center
attendance_count                         10
Name: 1, dtype: object

In [46]:
# Select row by index location
center_attendance_pandas.iloc[1]

date                              2018-06-08
center_name         Paulson Community Center
attendance_count                          19
Name: 2, dtype: object

---

## Writing CSV Files

* If you have your data loaded into a Dataframe you can easily write it to a file with the `to_csv()` method
* There are also functions for writing to a bunch of different datatypes (excel, json, sql, etc.)

In [32]:
# create a list of lists, each sub-list is an observation/row
dead_people_list = [
    [1,"Bob","Jones",200],
    [2,"Jane","Jones",199],
    [3,"Ethel","Jones",180],
    [4,"Hortense","Jones",178],
    [5,"Vern","Jones",178]
]

# specify the column names seperately
column_names = ["ssn","first_name", "last_name", "age"]

# make a Dataframe with column names specified separately
dead_people = pd.DataFrame(dead_people_list, columns=column_names)
dead_people

   ssn first_name last_name  age
0    1        Bob     Jones  200
1    2       Jane     Jones  199
2    3      Ethel     Jones  180
3    4   Hortense     Jones  178
4    5       Vern     Jones  178

In [33]:
# use the to_csv function to write it to a file
dead_people.to_csv("dead_people.csv", index=False)

In [34]:
!head dead_people.csv

ssn,first_name,last_name,age
1,Bob,Jones,200
2,Jane,Jones,199
3,Ethel,Jones,180
4,Hortense,Jones,178
5,Vern,Jones,178

---